@import-normalize;

body {
  font-family: Inter, Roboto, 'Helvetica Neue', Helvetica, Arial, 'PingFang TC',
    '黑體-繁', 'Heiti TC', '蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體',
    'Microsoft JhengHei', sans-serif;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
